/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.label {
    -fx-font-weight: bold;
     -fx-text-fill: #483D8B; 
}
.root {
-fx-background-color: #F5A9F2;


}
.button {
    -fx-background-color:#00913F;
    -fx-text-fill: #FFFFFF;
}

